.types {
  max-height: 700px;
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.red {
  color: rgb(255, 99, 132);
}

.yellow {
  color: rgb(255, 205, 86);
}

.green {
  color: #30d9a3;
}

.blue {
  color: rgb(54, 162, 235);
}

.dark-blue {
  color: rgb(50, 70, 255);
}

.violet {
  color: rgb(156, 81, 255);
}

.subtypes-table tr td:first-child {
  height: 20px;
  width: 26px;
}

.step {
  width: 52px;
}

.number {
  width: 32px;
}
.closed {
  width: 80px;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}
.open {
  width: auto;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}

.cfs-5 {
  font-size: 20px;
}

.cfs-1 {
  font-size: 40px;
}
