body {
  background-image: url(/DLK_1812.jpg);
  height: 100vh;
  min-height: 500px;
  width: 100%;
  background-size: cover;
  background-position-x: 80%;
}
.path {
  height: 100%;
  width: 100%;
  background: rgb(166, 166, 166, 0.2);
  clip-path: polygon(0% 0%, 0 100%, 48%100%, 35%50%, 48%0%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.logo {
  position: absolute;
  top: 50%;
  left: 18%;
  max-width: 550px;
}
