.canvas-chart {
  width: 450px;
  height: 450px;
  color: #101010;
}

.number {
  width: 35px;
  min-width: 35px;
}

.datetime {
  width: 90px;
  min-width: 90px;
}

.list {
  height: 450px;
}

.test-q {
  height: 100%;
  width: 100%;
}
