@media (orientation: landscape) {
  .vehicle_container {
    width: 60vw !important; // or some percentage or viewport width
    height: 30vw !important; // 500 / 1035 = 0.4831 or 48.31%
    min-width: 700px;
    min-height: 328px;
    max-width: 1035px;
    max-height: 500px;
  }
  .vehicle_img {
    width: 100%;
    max-width: 750px;
  }
  .vehicle_details {
    background-color: rgb(5, 5, 5);
    max-width: 250px;
    min-width: 220px;
  }
}

@media (orientation: portrait) {
  .vehicle_container {
    width: 70vw !important; // or some percentage or viewport width
    //height 500 / 1035 = 0.4831 or 48.31%
    height: 70vw;
  }
  .vehicle_img {
    width: 50vw;
  }
  .vehicle_details {
    background-color: rgb(5, 5, 5);
    width: 100%;
  }
  .title {
    font-size: 2.5em;
    text-align: center;
  }

  .text-gap {
    row-gap: 0;
    column-gap: 5px;
    box-sizing: content-box;
  }
}

.vehicle_details.light {
  background-color: var(--bs-secondary-bg);
}

.carousel-container {
  position: absolute;
  display: flex;
  z-index: 0;
  left: auto;
  right: auto;
}

.carousel-container > :not(:first-child):not(:nth-child(2)) {
  margin-left: 100vw;
}

.indicator {
  content: "";
  height: 6px;
  width: 50px;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
  background-color: var(--bs-secondary-bg);
}

.indicator_active {
  background-color: #b4b4b4;
}

.placeholder {
  visibility: hidden;
}

.scrollbar-sm::-webkit-scrollbar {
  height: 25px;
  width: 5px;
}
.scrollbar-sm::-webkit-scrollbar-horizontal {
  background-clip: content-box;
}
.scrollbar-sm::-webkit-scrollbar-vertical {
  border: 7px solid transparent;
  background-clip: content-box;
  border-radius: 5px;
}

.scrollbar-sm::-webkit-scrollbar-track:vertical {
  border: solid transparent 8px;
  border-radius: 20px;
  background-clip: content-box;
  background-color: var(--bs-tertiary-bg);
}

.scrollbar-sm::-webkit-scrollbar-thumb:vertical {
  background: var(--bs-tertiary-color);
  border-radius: 15px;
  background-clip: content-box;
}

.scrollbar-sm::-webkit-scrollbar-track:horizontal {
  border: solid transparent 8px;
  border-radius: 20px;
  background-clip: content-box;
  background-color: var(--bs-tertiary-bg);
}

.scrollbar-sm::-webkit-scrollbar-thumb:horizontal {
  background: var(--bs-tertiary-color);
  border-radius: 15px;
  border: solid transparent 5px;
  background-clip: content-box;
}
