.title {
  font-size: 4em;
}

.vehicle_img {
  max-width: 750px;
}

.vehicle_container {
  height: 500px;
  width: 1035px;
}

.vehicle_details {
  background-color: rgb(5, 5, 5);
  height: inherit;
  width: 250px;
}

.carousel-container {
  position: absolute;
  display: flex;
  z-index: 0;
  left: auto;
  right: auto;
}

.carousel-container > :not(:first-child):not(:nth-child(2)) {
  margin-left: 100vw;
}

.indicator {
  content: "";
  height: 6px;
  width: 50px;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
  background-color: var(--bs-secondary-bg);
}

.indicator_active {
  background-color: #b4b4b4;
}

.placeholder {
  visibility: hidden;
}
