@media (orientation: landscape) {
  .vehicle_container {
    width: 60vw; // or some percentage or viewport width
    height: 30vw; // 500 / 1035 = 0.4831 or 48.31%
    min-width: 700px;
    min-height: 328px;
    max-width: 1035px;
    max-height: 500px;
  }
  .vehicle_img {
    width: 100%;
    max-width: 750px;
  }

  .bg-night {
    background-color: rgb(5, 5, 5);
  }
  .carousel-container > :not(:first-child):not(:nth-child(2)) {
    margin-left: 100vw !important;
  }
  .text-gap {
    row-gap: 5px;
    column-gap: 5px;
    box-sizing: content-box;
  }

  .vehicle_details {
    max-width: 255px !important;
    min-width: 225px !important;
  }
}

@media (orientation: portrait) {
  .vehicle_container {
    width: 90vw !important;
    height: 90vw;
  }
  .vehicle_img {
    width: 90vw;
  }
  .bg-night {
    background-color: rgb(5, 5, 5) !important;
  }
  .title {
    font-size: 2.5em;
    text-align: center;
  }

  .text-gap {
    row-gap: 5px;
    column-gap: 5px;
    box-sizing: content-box;
  }

  .vehicle_details {
    max-height: 120px !important;
    min-height: 100px !important;
  }
}

.scrollbar-sm::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.scrollbar-sm::-webkit-scrollbar-vertical {
  border: 30px solid transparent; // Increase the border size to 20px
  background-clip: content-box;
  border-radius: 5px;
}

.scrollbar-sm::-webkit-scrollbar-track:vertical {
  border: solid transparent 500px;
  border-radius: 20px;
  background-clip: content-box;
  background-color: var(--bs-tertiary-bg);
  margin-block: 25px;
}

.scrollbar-sm::-webkit-scrollbar-thumb:vertical {
  background: var(--bs-tertiary-color);
  border-radius: 15px;
  background-clip: content-box;
}
.scrollbar-sm::-webkit-scrollbar-track-piece .wrapping-whitespace {
  white-space: pre-wrap;
}
