.list {
  max-height: 450px !important;
  height: auto;
}

.list-container {
  width: 90vw;
  min-width: 370px;
  max-width: 700px;
}
.canvas-chart {
  max-width: 500px;
  max-height: 500px;
  min-width: 370px;
  min-height: 370px;
  width: 90vw !important;
  height: 90vw !important;
}

.title {
  font-size: 4em;
}

.scrollbar::-webkit-scrollbar {
  height: 25px;
  width: 25px;
}
.scrollbar::-webkit-scrollbar-horizontal {
  background-clip: content-box;
}
.scrollbar::-webkit-scrollbar-vertical {
  border: 7px solid transparent;
  background-clip: content-box;
  border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-track:vertical {
  border: solid transparent 8px;
  border-radius: 20px;
  background-clip: content-box;
  background-color: var(--bs-tertiary-bg);
}

.scrollbar::-webkit-scrollbar-thumb:vertical {
  background: var(--bs-tertiary-color);
  border-radius: 15px;
  border: solid transparent 5px;
  background-clip: content-box;
}

.scrollbar::-webkit-scrollbar-track:horizontal {
  border: solid transparent 8px;
  border-radius: 20px;
  background-clip: content-box;
  background-color: var(--bs-tertiary-bg);
}

.scrollbar::-webkit-scrollbar-thumb:horizontal {
  background: var(--bs-tertiary-color);
  border-radius: 15px;
  border: solid transparent 5px;
  background-clip: content-box;
}

.scrollbar::-webkit-scrollbar-corner {
  background-color: transparent;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.75s ease-in-out;
}

.centered2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.75s ease-in-out;
}

.out-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-210%, -50%);
  transition: transform 0.75s ease-in-out;
}

.out-right {
  position: absolute;
  left: 50%;
  transform: translateX(250%);
  transition: transform 0.75s ease-in-out;
}

.vw-90 {
  width: 90vw !important;
}

.start-5 {
  left: 5%;
}
