.warning {
  width: 320px !important;
  height: 50px !important;
  //background-color: #161719;
  background-color: black;
}

.pulsate {
  animation: external_pulsate 1.5s linear infinite;
}

@keyframes external_pulsate {
  0% {
    box-shadow: 0 0 0 0 rgba(200, 200, 200, 0.5);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(200, 200, 200, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(200, 200, 200, 0);
  }
}

.warnicon {
  width: 50px;
  height: 50px;
}

.warn_-1 {
  background-color: #161719;
  padding: 5px;
}
.warn_0 {
  background-color: rgb(5, 106, 5);
  padding: 5px;
}

.warn_1 {
  background-color: rgb(193, 151, 0);
  padding: 5px;
}

.warn_2 {
  background-color: rgb(255, 132, 0);
  padding: 5px;
}

.warn_3 {
  background-color: rgb(184, 1, 1);
  padding: 5px;
}

.warn_4 {
  background-color: rgb(116, 1, 110);
  padding: 5px;
}

.warn_vor::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translateY(-10%);
  position: absolute;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 5px,
    #4c4c4ca1 5px,
    #4c4c4ca1 10px
  );
  opacity: 0.5;
}

.customtooltip {
  --bs-tooltip-bg: rgba(22, 23, 25, 255);
  --bs-tooltip-color: var(--bs-white);
  --bs-tooltip-opacity: 1;
  font-weight: 600;
  display: flex;
  justify-content: start;
}

.dwdlogo {
  background-color: rgba(46, 75, 155, 255);
  margin-right: 5px;
}
