.bg-image {
  background-image: url(https://cdn.fs.teachablecdn.com/0QVRJRm1S5a7ygbVAy8j);
  height: 100vh;
  width: 100vw;
  background-color: aqua;
}

.canvas {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  top: 0;
}
