@media (orientation: landscape) {
  .canvas {
    background-image: url(/DLK_1812.jpg);
    height: 100vh;
    min-height: 500px;
    width: 100%;
    background-size: cover;
    background-position-x: 80%;
  }

  .element {
    height: 100vh;
  }

  .path {
    height: 100%;
    width: 100%;
    background: rgb(166, 166, 166);
    background: linear-gradient(
      90deg,
      rgba(166, 166, 166, 1) 0%,
      rgba(166, 166, 166, 0.3) 50%
    );
    clip-path: polygon(0% 0%, 0 100%, 48%100%, 35%50%, 48%0%);
    backdrop-filter: blur(10px);
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 18%;
    max-width: 550px;
  }

  .rounded-spacer {
    height: 75px;
  }

  .footer {
    min-height: 300px;
    border-top: 5px solid #3e74ff;
    background-color: #080808;
  }

  .bg-custom-white {
    background-color: #fffafa;
  }

  .footer {
    height: 200px;
  }

  .vehicle-img {
    height: 25vw;
  }

  .vehicle-img-dlk {
    height: 20vw;
  }

  .map {
    height: 80%;
    width: 50%;
    border-radius: 15px;
    overflow: hidden;
  }

  .min-width {
    min-width: 400px;
  }
}

@media (orientation: portrait) {
  .canvas {
    background-image: url(public/LFBA_Iveco_202302_Austria_Scheffau_01.jpg);
    height: 100vh;
    min-height: 500px;
    width: 100%;
    background-position-y: bottom;
    background-position-x: 80%;
  }

  .rounded-spacer {
    height: 200px;
  }
  .path {
    height: 100%;
    width: 100%;
    background-color: rgba(167, 166, 166, 0.595);
    clip-path: polygon(0% 0%, 0 100%, 31%100%, 71%0%);
    backdrop-filter: blur(10px);
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 25%;
    max-width: 550px;
    min-width: 150px;
    text-align: center;
  }

  .menu-title {
    font-size: 50px;
    font-weight: 700;
  }

  .menu {
    background-color: black;
    color: #fffafa;
    width: 100%;
  }
  .element {
    min-height: 100vh;
    border: solid 2px red;
  }
}

.pointer {
  cursor: pointer !important;
}
