.canvas {
  background-image: url(../LFBA_Iveco_202302_Austria_Scheffau_01_mirrored.jpg);
  height: 50vw;
  width: 100%;
  background-size: 200%;
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-position-y: 100%;
  top: 0;
}

.element {
  height: 100vh;
}

.test {
  height: 100%;
  width: 100%;
  background-color: rgba(167, 166, 166, 0.595);
  clip-path: polygon(0% 0%, 0 100%, 48%100%, 35%50%, 48%0%);
  backdrop-filter: blur(10px);
}

.logo {
  position: absolute;
  top: 50%;
  left: 18%;
}

.rounded-spacer {
  height: 50px;
}

.bg-custom-white {
  background-color: #fffafa;
}

.element {
  height: 500px;
}

.footer {
  height: 200px;
}

.item-1 {
  order: 1;
}

.item-2 {
  order: 2;
}

.vehicle-img {
  height: 25vw;
}

.vehicle-img-dlk {
  height: 20vw;
}

.map {
  height: 500px;
  width: 900px;
  border-radius: 15px;
  overflow: hidden;
}
